body {
    position: relative;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    background-size: cover;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    background: #3bc6f0;
}